@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-highlight: 59, 130, 246;
  --color-bg-base: 249, 250, 251;
  --color-bg-nav: 243, 244, 246;
  --color-bg-tab: 238, 80, 47;
  --color-text-main: 31, 41, 55;
  --color-text-muted: 243, 244, 246;
  --color-text-invert: 249, 250, 251;
  --color-fill-main: 59, 130, 246;
  --color-fill-muted: 191, 219, 254;
}

.dark-theme {
  --color-highlight: 37, 99, 235;
  --color-bg-base: 75, 85, 99;
  --color-bg-nav: 55, 65, 81;
  --color-text-main: 245, 245, 244;
  --color-text-muted: 250, 250, 249;
  --color-text-invert: 245, 245, 244;
  --color-fill-main: 37, 99, 235;
  --color-fill-muted: 147, 197, 253;
}